# Export these values in your shell; .env is not automatically sourced.
IAM_BASE_URL=http://127.0.0.1:8000
IAM_VLLM_PORT=8000
IAM_UI_PORT=8501
IAM_GPU_UUID=GPU-cea3d9e4-d189-a5b9-cf2e-9bd77b8218fb
IAM_GPU_MEMORY_UTILIZATION=0.80
IAM_MOCK=0
